/* ---------- Beverage — exact image sources ---------- */
.box0{ background-image: url(image/Beverages/Coca\ Cola\ -\ Katrin\ Leo\ Pako.jpg); }
.box1{ background-image: url(image/Beverages/Nile\ special.jpg); }
.box2{ background-image: url(image/Beverages/—Pngtree—beverage\ pictures_17275719.png); }
.box3{ background-image: url(image/Beverages/download\ \(3\).jpg); }
.box4{ background-image: url(image/Beverages/Mercado\ Livre\ Brasil.jpg); }
.box5{ background-image: url(image/Beverages/lefuckhead-sangria-5494505_1920.jpg); }
.box6{ background-image: url(image/Beverages/Heineken.jpg); }
.box7{ background-image: url(image/Beverages/download\ \(8\).jpg); }
.box8{ background-image: url(image/Beverages/download\ \(4\).jpg); }
