/* ---------- Dinner — exact image sources ---------- */
.box0{ background-image: url(image/Contenental/side-view-chicken-kebab-lavash-served-with-fresh-herbs-onion-adjika-sauce.jpg); }
.box1{ background-image: url(image/Contenental/side-view-meat-stew-lamb-stew-with-fried-onion-dried-fruits-with-rice-plate.jpg); }
.box2{ background-image: url(image/Contenental/side-view-sac-with-meat-fried-potatoeslavash-table-restaurant.jpg); }
.box3{ background-image: url(image/Contenental/top-view-fast-food-mix-caesar-shrimp-salad-chicken-skewer-salad-mushroom-pizza-mozzarella-sticks-onion-rings-grilled-fish-red-onion-pomegranate-sauce-salt-pepper.jpg); }
.box4{ background-image: url(image/Contenental/top-view-noodles-with-fried-vegetables-with-tomatoes-salad-other-dishes-table.jpg); }
.box5{ background-image: url(image/Contenental/top-view-vegetable-soup-with-meat-inside-plate-dark-grey.jpg); }
.box6{ background-image: url(image/Contenental/05dbafde-b769-43ad-909e-a3ab5f6dd7ea.jpg); }
.box7{ background-image: url(image/Contenental/asian-food-restaurant.jpg); }
.box8{ background-image: url(image/Contenental/burger-black-bread-bun-with-fried-egg.jpg); }
.box9{ background-image: url(image/Contenental/fried-chicken-mixed-with-vegetables.jpg); }
.box10{ background-image: url(image/Contenental/fried-chicken-with-grilled-potatoes-eggplants-tomatoes-peppers.jpg); }
.box11{ background-image: url(image/Contenental/fxvbn_copy.jpg); }
.box12{ background-image: url(image/Contenental/grilled-chicken-steak-vegetables-marble-background.jpg); }
.box13{ background-image: url(image/Contenental/meat-cutlet-with-french-fries-ketchup-mayo-tarhun-lemonade-bread-table.jpg); }
.box14{ background-image: url(image/Contenental/potato-patties-topped-with-beef-patties-shoe-strings.jpg); }
