/* ---------- Lunch — exact image sources ---------- */
.box0{ background-image: url(image/local/510721098_685998637588372_3565078419484925668_n.jpg); }
.box1{ background-image: url(image/local/120452843_2664884723765779_7621240130143351918_n.jpg); }
.box2{ background-image: url(image/local/480345885_608842705101012_7018463418938982195_n.jpg); }
.box3{ background-image: url(image/local/481078052_970073631924181_2924427291653178202_n.jpg); }
.box4{ background-image: url(image/local/486697164_4056445574575226_5249874587119391601_n.jpg); }
.box5{ background-image: url(image/local/490806815_658767033435822_6172667857845574030_n.jpg); }
.box6{ background-image: url(image/local/Banku\ and\ Okro\ stew\ with.jpg); }
.box7{ background-image: url(image/local/Beans\ and\ plantains\ 😋.jpg); }
